body {
  display: flex;
  flex-direction: column;
  min-height: auto;
  width: auto;
  overflow-x: hidden; /* tirar a barra de rolagem */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* topo da pagina em cinza, centralizado */
.cabecalho {
  background-color: #333333; /* cinza escuro */
  color: #ffffff; /* texto branco */
  text-align: center; /* centralizar o cabecalho */
  padding: 50px 20px; /* o espaço da barra cinza */
}

.cabecalho h1 {
  margin: 0;
}

.conteudo-principal {
  flex: 1;
  max-width: 800px;
  margin: 20px auto; /* Mantém centralizado na página */
  padding: 20px;
  text-align: left; /* à esquerda */
  display: block;
}
.foto-perfil {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

.foto-perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.rodape {
  background-color: #333333; /* Cinza */
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
