h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    color: rgb(39, 38, 38);
    text-align: left;
    margin-bottom: 25px;
}

p{
    line-height: 1.6;
    color: rgb(30, 30, 30);
    text-align: justify;
}

#porco {
    font-style: italic;
    font-weight: bold;
}

ul {
    margin-top: 15px;
}

li {
    margin-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

img {
    display: block;
    border-radius: 30px;
    width: 60%;
    margin: 25px;

}
a {
    margin-top: 20px;
    text-decoration: none;
    background-color: firebrick;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.container{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.siteporco{
    width: 80%;
    margin: 30px;
    padding: 30px;

}